:root {
  font-family: "Montserrat", sans-serif;
}
#content {
  margin: 0;
  padding: 0;
}
/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $darkBlue;
  border: 3px solid white;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $orange;
}
